In [10]:
import pandas as pd
import numpy as np

In [2]:
player_movement = pd.read_csv("NGS-2017-reg-wk1-6.csv")

In [3]:
player_movement.head()

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event
0,2017,402,1314,30694.0,2017-09-10 17:55:16.000,49.119999,54.230000,0.15,30.980000,56.349998,NaN
1,2017,402,1314,32054.0,2017-09-10 17:55:17.100,50.790001,54.200001,0.10,286.160004,16.040001,NaN
2,2017,402,1314,26158.0,2017-09-10 17:55:17.100,49.459999,54.099998,0.16,299.640015,30.570000,NaN
3,2017,402,1314,26995.0,2017-09-10 17:55:17.200,52.750000,54.250000,0.05,217.860001,13.840000,NaN
4,2017,402,1314,32054.0,2017-09-10 17:55:17.200,50.830002,54.290001,0.09,288.679993,17.000000,NaN

In [6]:
player_list = player_movement["GSISID"]

In [17]:
player_list = player_list.values