In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("play_player_role_data.csv")

In [4]:
df.head()

   Season_Year  GameKey  PlayID  GSISID  Role
0         2017      414     188   33704  PDL2
1         2017      414    1107   33704  PDL2
2         2017      424    1113   33704  PDR3
3         2017      424    1454   33704  PLR2
4         2017      424     644   33704   PRG